@font-face {
  font-family: IRANSansXFaNum;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/woff/IRANSansXFaNum-Bold.woff") format("woff"),
    url("../fonts/woff2/IRANSansXFaNum-Bold.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansXFaNum;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/woff/IRANSansXFaNum-Regular.woff") format("woff"),
    url("../fonts/woff2/IRANSansXFaNum-Regular.woff2") format("woff2");
}
